body{
    background-color: rgb(245, 244, 244);
}

#navBar {
    background-color: #25b89a;
}

#imgNavBar{
    height: 50px;

}

#navBar small{
    color: white;
    display: block;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.5px;
    opacity: 0.75;
    
    margin-top: -45px;
    margin-left: 55px;
}

#navBar h3{
    color: white;
    margin-top: 25px;
    margin-left: -188px;
    margin-bottom: 1px;

}

#headMobile{
    display: none;
}


#imgUser {
    height: 20px;
    margin-top: -41px;
    display: flex;
    margin-right: 16px;
}

#allInfo{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    
}

#headInfo {
    /* align-items: center; */
    /* margin: auto; */
    display: flex;
    margin-left: 15%;
    margin-top: 30px;
}

#headInfo img{
    height: 60px;
   
}

#headInfo h1{
    font-weight: lighter;   
}



#quadradoPrincipal{
    border-radius: 4px;
    box-shadow: 1px 2px 4px 0px #c3c3c3;
    width: 800px;
    background-color: white;
    margin-left: 10%;
}

#quadradoPrincipal #dataValidade{
    margin-bottom: 40px;
}

#quadradoPrincipal #button{
    background-color: #1c937a; 
    color: white;
    margin-right: 1%;
    margin-bottom: 5%;
    width: 90%;


}

@media (max-width: 2000px) {
    #navBar{
        height: 145px;
        display: flex;
        width: 100%;
    }

    #navBar a{
        
        display: none;
    }

    #headMobile{
        align-items: center;
        text-align: center;        
        margin-top: -128px;
        margin-bottom: 9%;
        color: white;
        display: flow-root;
        letter-spacing: 0.5px;
    }

    #headMobile h3{
        font-size: 55px;
    }

    #headInfo{
        margin-top: -57px;
    }

    #headInfo h1{
        font-size: 38px;
    }

    #headInfo img{
        margin-left: -91px;
        margin-right: 60px;
        height: 60px;        
    }

    #labelComprovante{
        text-align: center;
        font-size: 38px;
        width: 80%;
        margin-top: 60px;
        margin-left: 2em;
    }

    #quadradoPrincipal h4{
        margin-top: 20px;
        font-size: 40px;        
    }

    #myName{
        font-weight: 400;
        font-size: 33px;
        margin-top: 20px;
    }

    #quadradoPrincipal #dataValidade{
        margin-top: 100px;
        margin-bottom: 60px;
        font-size: 35px;
        width: 80%;
        text-align: center;
        margin-left: 2em;
    }

    #toggle_Icon img{
        margin-left: -29%;
        align-items: flex-start;
        height: 151px;
        width: 162px;
        position: absolute;
        margin-top: -12px;
    }
    
    a#toggle_Icon {
        /* position: absolute;
        margin-left: -37%; */
    }

    #headMobile small{
        opacity: 0.75;        
        font-size: 28px;
        font-weight: 300;
    }

    #quadradoPrincipal{
        width: 76%;
        height: 900px;
        margin-left: 12%;
    }

    #quadradoPrincipal p{
        
        /* align-items: center; */

        /* align-items: center;        
        margin-top: 50px; */
    }

    #quadradoPrincipal #button{
        margin-top: 45px;
        font-size: 36px;
        height: 90px;
        width: 70%;
    }

    #footer{
        /* position: relative; */
        margin-top: 25%;
        margin-bottom: 20%;
        text-align: center;
        font-size: 28px;
        /*margin-top: 30%; */
    }

}

